.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px 40px 20px;
}

.title {
  font-size: 1.8rem;
  text-align: center;
}

.section {
  margin-bottom: 28px;
}

.section h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #222;
}

.section p {
  color: #555;
  line-height: 1.6;
}

.section ul {
  padding-left: 20px;
}

.section li {
  margin-bottom: 6px;
  color: #555;
}

.underline{
    width: 120px;
    height: 2px;
    margin: 4px auto;
    background-color: var(--primary-color);
}
.sectionTitle{
    padding-bottom: 2rem;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}