.innerContent{
    background-color: #ffffff;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    max-width: 480px;
    height: 100vh;
    padding: 2rem;
    box-shadow: 5px 5px 50px var(--dark-color);
    scrollbar-width: none;
    display: none;
}

.show{
    display: block;
}

.top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.top button{
    all: unset;
    background-color: var(--dark-color);
    color: #fff;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    border-radius: 50%;
}

.total{
    margin-block: 1rem;
}


.innerContent::-webkit-scrollbar{
    display: none;
}

.btnIcon{
    display: flex;
    text-decoration: none;
    color: #fff;
    border: 0px;
    background-color: var(--primary-color);
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    gap: 0.25rem;
    border-radius: 8px;
    font-size: 1rem;
    transition: all 0.3s;
}
.btnIcon:hover{
    background-color: var(--dark-primary-color);
}