*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: relative;
}

:root {
    --primary-color: #f80;
    --secondary-color: #00498d;
    --dark-primary-color: #e07800;
    --dark-secondary-color: #00315f;
    --light-color: #e9e9e9;
    --dark-color: #2c2c2c;
}
body{
    font-family: "arial";
    color: var(--dark-color);
}

