.innerContent{
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 1rem;
}
.sectionTitle{
    padding-bottom: 2rem;
    margin-top: 3rem;
}
.title{
    text-align: center;
    font-size: 1.8rem;
}
.underline{
    width: 150px;
    height: 2px;
    margin: 4px auto 0 auto;
    background-color: var(--primary-color);
}

main{
    position: relative;
}

@media (max-width: 800px) {
    .title{
        font-size: 1.2rem;
    }
}