.product{
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--light-color);
    justify-content: space-between;
    padding: 0.5rem;
    gap: 0.5rem;
}

.removeBtn{
    all: unset;
    background-color: var(--dark-color);
    color: #fff;
    width: 1rem;
    height: 1rem;
    font-size: 0.7rem;
    text-align: center;
    border-radius: 50%;
}

.img{
    max-width: 75px;
}

.leftSide{
    display: flex;
    gap: 0.5rem;
}
.details{
    display: flex;
    flex-direction: column;
}
.details p{
    font-size: 0.8rem;
}
.leftSide input{
    width: 55px;
    margin-block: 0.25rem;
}
.quantityControl{
    display: flex;
    gap: 0.2rem;
    align-items: center;
}
.quantityControl button{
    background-color: #fff;
    padding: 0 5px;
    border-width: 1px;
}
.quantityControl button:hover{
    background-color: #e2e2e2;
    border-radius: 2px;
}