.a{
    text-decoration: none;
    color: unset;    
}

.innerContent{
    position: relative;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
}

.list{
    display: flex;
    list-style: none;
    gap: 1rem;
}

.listItem:hover{
    transform: translateY(-4px);
    transition: all 0.2s;
    font-weight: bold;
}

.navSPCM{
    display: flex;
    align-items: center;
    gap: 1rem;
}



.searchInputContainer{
    display: flex;
    align-items: center;
    gap: 4px;
    border-bottom:  1px solid var(--dark-color);
    padding: 8px;
    margin-right: 1rem;
}

.input{
    border: none;
}

.iconS{
    height: 1rem;
    color: #808080;
}

.littleCar{
    background-color: transparent;
    border: none;
    position: relative;
}

.buttonMenu{
    background-color: transparent;
    border: none;
    display: none;
}

.icon{
    height: 1.5rem;
    width: 1.5rem;
}

.productsCount{
    position: absolute;
    background-color: #f00;
    width: 1rem;
    height: 1rem;
    bottom: 0px;
    left: 0;
    border-radius: 50%;
    color: #fff;
    padding: 0.7rem;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
@media (max-width: 920px) {
    nav{
        position: absolute;
        top: 55px;
        left: 0;
        background-color: #fff;
        padding-bottom: 1rem;
        width: 100%;
        display: none;
        z-index: 2;
    }
    .show{
        display: block;
    }
    .list{
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }
    .listItem{
        padding: 0.8rem;
    }
    .buttonMenu{
        display: inline;
    }
}

@media (max-width: 560px) {
    .searchInputContainer{
        width: 100%;
        margin-left: 4px;
    }
    .input{
        width:100% ;
    }
}