.testimonials{
    display: flex;
    padding: 4rem 1rem;
    justify-content: space-evenly;
    max-width: 1280px;
    margin: auto;
}
.testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 30%;
    text-align: center;
    box-shadow: 0 0 15px #afafaf;
    padding: 1rem;
    border-radius: 1rem;
    transition: all 0.3s;
    gap: 0.7rem;
}
.testimonial:hover{
    transform: translateY(-5px);
}
.destaque{
    font-weight: bold;
    font-size: 5rem;
    color: var(--primary-color);
    margin-top: 1rem;
}
.rate{
    color: var(--secondary-color);
    font-size: 1.3rem;
}

@media (max-width: 800px) {
    .testimonials{
        flex-direction: column;
        max-width: 400px;
        gap: 1.5rem;
        margin-inline: auto;
    }
}
